@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kanit:wght@400;700&family=Lobster&family=Pacifico&display=swap');
:root {
    --primary-color:#93C5FD;
}

body {
    font-family: 'Pacifico', cursive;
    margin: 0px;
}
.header {
    background-color: var(--primary-color) ;
   
}
.header .header-heading {
    padding: 4rem 2rem;
    text-align: center;
    margin: auto;
}

.container-center {
    width: 600px;
    margin: auto;
}
#txt-input {
    width: 90%;
    margin: 1rem;
    height: 10vh;
    display: block;
    padding: 1rem;
    border: 1px solid black;
}
#btn-translate {
   
    background-color: var(--primary-color);
    width: 96%;
    margin: 1rem;
    font-size: larger;
    padding: 10px 5px;
    border-radius: 5px; 
}
#output {
    width: 90%;
    margin: 1rem;
    height: 10vh;
    display: block;
    padding: 1rem;
    border: 1px solid black;
}
.footer {
    background-color: var(--primary-color);
    
    margin: auto;
    color: black;
    padding: 2.7rem 2rem;
    
    
}
.footer .footer-header {
    font-weight: bold;
    font-size: large;
    text-align: center;
}
.footer .footer-text {
    width: 600px;
    margin: auto;
    margin-top: 1rem;
    font-size: larger;
    display: block;
    text-align: center;
}
